In [31]:
import pandas as pd
import json

In [32]:
filepath = "/netscratch/falcao/data/appraise-batches/es-eu/batches.json"
with open(filepath, mode="r") as f:
    j = json.load(f)

In [43]:
j[0]["task"]

{'batchNo': 1,
 'batchSize': 100,
 'randomSeed': 123456,
 'requiredAnnotations': 1,
 'sourceLanguage': 'spa',
 'targetLanguage': 'eus'}

In [33]:
dfs = []
for batch_json in j:
    _df = pd.DataFrame(batch_json["items"])
    _df["_batchNo"] = batch_json["task"]["batchNo"]
    dfs.append(_df)

df = pd.concat(dfs)
df = df[["_batchNo", *df.columns[:-1]]]

In [34]:
print("total items:", len(df))

total items: 800

In [35]:
df.sample(5, random_state=1)

,_batchNo,_block,_item,itemID,itemType,sourceID,sourceText,targetID,targetText
8,1,0,8,36,TGT,src.es,"A lo largo de toda la semana, todos los niños,...",mstrans-fake.txt,"[mstrans] Aste osoan zehar, 6 eta 14 urte bita..."
10,6,51,10,51,TGT,src.es,A nuestros pies la menta se acostaba y las ave...,mstrans-fake.txt,[mstrans] Geure oinetara menda belarra oheratz...
75,2,17,75,287,TGT,src.es,"Ya que por sus errores, tuve que descuidar mi ...",gtrans-fake.txt,"[gtrans] Bere erruengatik, neure operazioa utz..."
35,8,73,35,259,TGT,src.es,Si sabes cómo inspirar o caminar en plena cons...,gtrans-fake.txt,[gtrans] Arreta osoz arnasten edo ibiltzen bad...
42,3,24,42,166,TGT,src.es,"Es un punto de vista muy extremo, pero resalta...",mstrans-fake.txt,"[mstrans] Muturreko ikuspuntua da, baina eraku..."

In [36]:
df[df.itemType == "TGT"].sort_values("sourceText")

,_batchNo,_block,_item,itemID,itemType,sourceID,sourceText,targetID,targetText
28,4,32,28,1,TGT,src.es,A comienzos de los años ochenta surgieron los ...,gtrans-fake.txt,"[gtrans] 80ko hamarkadaren hasieran, giza ahal..."
38,3,23,38,1,TGT,src.es,A comienzos de los años ochenta surgieron los ...,mstrans-fake.txt,"[mstrans] 80ko hamarkadaren hasieran, giza aha..."
26,6,52,26,2,TGT,src.es,A considerar cada hombre por las acciones y de...,gtrans-fake.txt,[gtrans] Nork ere aipatuko baikaitu gure ekint...
78,5,47,78,2,TGT,src.es,A considerar cada hombre por las acciones y de...,mstrans-fake.txt,[mstrans] Nork ere aipatuko baikaitu gure ekin...
99,3,29,99,3,TGT,src.es,A continuación vienen otros más relacionados c...,gtrans-fake.txt,"[gtrans] Jarraian datoz beste batzuk, gehiago ..."
...,...,...,...,...,...,...,...,...,...
95,2,19,95,286,TGT,src.es,Vivamos en un planeta lleno de vegetación exub...,mstrans-fake.txt,[mstrans] Bizi gaitezen luxuzko landaretzadun ...
75,2,17,75,287,TGT,src.es,"Ya que por sus errores, tuve que descuidar mi ...",gtrans-fake.txt,"[gtrans] Bere erruengatik, neure operazioa utz..."
51,5,45,51,287,TGT,src.es,"Ya que por sus errores, tuve que descuidar mi ...",mstrans-fake.txt,"[mstrans] Bere erruengatik, neure operazioa ut..."
89,3,28,89,288,TGT,src.es,"Yo era un estudiante en los años 60, una época...",gtrans-fake.txt,"[gtrans] Ikaslea nintzen 60ko hamarkadan, giza..."
71,1,7,71,288,TGT,src.es,"Yo era un estudiante en los años 60, una época...",mstrans-fake.txt,"[mstrans] Ikaslea nintzen 60ko hamarkadan, giz..."

In [37]:
print("_block values:", df._block.unique())

_block values: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79]

In [38]:
print("sourceID values:", set(df.sourceID))
assert len(set(df.sourceID)) == 1 # ? not sure

sourceID values: {'src.es'}

In [39]:
print("targetID values:", df.targetID.unique().tolist())

targetID values: ['gtrans-fake.txt', 'ref.eu', 'mstrans-fake.txt']

In [40]:
print("itemType values:", set(df.itemType))
assert set(df.itemType) <= set(["BAD", "CHK", "REF", "TGT"])

print("value counts:")
print(df.itemType.value_counts().to_string())
print()

print("per batch:")
_df = df[df._batchNo == 1]
print(_df.itemType.value_counts().to_string())

itemType values: {'REF', 'TGT', 'BAD'}
value counts:
TGT    640
BAD     80
REF     80

per batch:
TGT    80
BAD    10
REF    10